<mat-tab-group animationDuration="0ms">
  <mat-tab label="Videos">

    <app-resource-video></app-resource-video>

  </mat-tab>

  <mat-tab label="Images">
    <app-resource-image></app-resource-image>

  </mat-tab>
  <mat-tab label="Presentations">
    <app-resource-presentation></app-resource-presentation>
  </mat-tab>
  <mat-tab label="Documents">

    <app-resource-document></app-resource-document>
  </mat-tab>
  <mat-tab label="Clinical Papers">
    <app-resource-clinical></app-resource-clinical>
  </mat-tab>

</mat-tab-group>


<!-- <div class='save-button'>
  <button mat-raised-button class="m-jumbo-button m-pointer" (click)="saveTips()">Save</button>
</div> -->