<div class="container">
  <div fxFlex="40%">
    <form #formRef="ngForm">

      <div class="input-data">
      
  <div class="add-clinicalPapers">
      <span>Add Clinical Paper</span>
      <span>
        <i class="material-icons">add_circle</i>
      </span>
    </div>
      </div>
    </form>
  </div>

  <div fxFlex="50%">
    <div class="right-side">

        <div class="input-container" style="display:flex; position:relative">
            <div class="application-name-wrapper">
              <span style="padding-left: 30px !important;" class="label-container text-styler">Name</span>
              <div class="field-container">
                <mat-form-field [floatLabel]="'never'">
                  <input placeholder= "Clinical Papers" class="text-styler" matInput  name="name"/>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="input-container" style="display:flex; position:relative">
              <div class="application-name-wrapper">
                <span style="padding-left: 30px !important;" class="label-container text-styler">Title</span>
                <div class="field-container">
                  <mat-form-field [floatLabel]="'never'">
                    <input class="text-styler" matInput placeholder="Title of Clinical Paper" name="name"/>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div class="input-container" style="display:flex; position:relative">
                <div class="application-name-wrapper">
                  <span style="padding-left: 30px !important;" class="label-container text-styler"> Publication</span>
                  <div class="field-container">
                    <mat-form-field [floatLabel]="'never'">
                      <input class="text-styler" matInput placeholder="Publication Name" name="name"/>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="input-container" style="display:flex; position:relative">
                  <div class="application-name-wrapper">
                    <span style="padding-left: 30px !important;" class="label-container text-styler"> Keywords</span>
                    <div class="field-container">
                      <mat-form-field [floatLabel]="'never'">
                        <input class="text-styler" matInput placeholder="Enter comma separated Keywords here"  name="name"/>
                      </mat-form-field>
                    </div>
                  </div>
                </div>


                <div class="input-container" style="display:flex; position:relative">
                    <div class="application-name-wrapper">
                      <span style="padding-left: 30px !important;" class="label-container text-styler">Full Article </span>
                      <div class="field-container">
                        <mat-form-field [floatLabel]="'never'">
                          <textarea class="text-styler" matInput  placeholder="Enter Full Article" name="name"></textarea>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>


                  <div class="input-container" style="display:flex; position:relative">
                      <div class="application-name-wrapper">
                        <span style="padding-left: 30px !important;" class="label-container text-styler"> Literature</span>
                        <div class="field-container">
                          <mat-form-field [floatLabel]="'never'">
                            <input class="text-styler" matInput placeholder="Enter Literature" name="name"/>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
    </div>
</div>



  <!-- <div fxFlex="50%">
    <div class='right-side'>
      <div class="title">
        <ul style="width: 100%">
            <li  style="width: 100%">
              <span class = "test">
                <label  style="width: 40%">Name</label>
              </span>
              <span class="text-are" style="width:200px !important">
                <mat-form-field class=" input1" [floatLabel]="'never'"  style="width: 60%">
                  <input matInput placeholder="Clinical Papers" name='clinicalname'>
                </mat-form-field>
              </span>
              </li>
          <li>
              <span class = "test">
            <label style="width: 40%">Title</label> 
            </span>
            <mat-form-field class=" input1" [floatLabel]="'never'">
              <input matInput placeholder="Title of Clinical Paper" name='name'>
            </mat-form-field>

          </li>
          <li>
              <span class = "test">
            <label style="width: 40%">Publication</label></span>
            <mat-form-field class=" input1" [floatLabel]="'never'">
              <input matInput placeholder="Publication Name" name='name'>
            </mat-form-field>

          </li>
          <li>
              <span class = "test">
            <label style="width: 40%">Keywords</label>
            </span>
            <mat-form-field class=" input1">
              <textarea matInput placeholder="Enter comma separated Keywords here"></textarea>
            </mat-form-field>

          </li>
          <li>
              <span class = "test">
            <label style="width: 40%">Full article</label>
            </span>
            <mat-form-field class=" input1" [floatLabel]="'never'">
              <input matInput placeholder="Enter Full Article" name='name'>
            </mat-form-field>
          </li>
          <li>
              <span class = "test">
            <label style="width: 40%">Literature </label></span>
            <mat-form-field class=" input1" [floatLabel]="'never'">
              <input matInput placeholder="Enter Literature" name='name'>
            </mat-form-field>
          </li>
        </ul>

        </div>
      </div>
    </div> -->