<!-- <div mat-dialog-content>
  <p>are u sure u want delete</p>
 
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="data.animal" >yes</button>
</div> -->
<div class="m-row">
  <h3>Are you sure you want to delete this ?</h3>

</div>
<div style="margin:10px 0 0 0;" class="m-row">
  <mat-dialog-actions>
    <button mat-raised-button class="m-jumbo-button m-pointer" [mat-dialog-close]="true">No</button>
    <button mat-raised-button class="m-jumbo-button m-pointer" [mat-dialog-close]="false">Yes</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  </mat-dialog-actions>
</div>